<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout2.html}">

<head>
    <meta charset="UTF-8">
    <title> 관리자페이지 </title>

</head>
<body>
<div layout:fragment="admin_content">
    <div class="container" id="box" style="margin-top: 100px; text-align: center">
        <h1>회원정보수정/삭제</h1>
        <div align="center">
            <form action="" method="post">
                <div class="container" style="text-align: center; width: 750px">
                    <table class="table table-success" >
                        <tr>
                            <th>아이디</th>
                            <td><input type="text" class="form-control" name="userid" required="required" /></td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td><input type="password" class="form-control" name="email" required="required" /></td>
                        </tr>
                        <tr>
                            <th>회원명</th>
                            <td><input type="text" class="form-control" name="username" required="required" /></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td><input type="email" class="form-control" name="email" required="required" /></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td><input type="text" class="form-control" name="tel" required="required" /></td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td><input type="text" class="form-control" name="zipcode" required="required" /></td>
                        </tr>
                        <tr>
                            <th>주소1</th>
                            <td><input type="text" class="form-control" name="addr1" required="required" /></td>
                        </tr><tr>
                            <th>주소2</th>
                            <td><input type="text" class="form-control" name="addr2" required="required" /></td>
                        </tr><tr>
                            <th>주소3</th>
                            <td><input type="text" class="form-control" name="addr3" required="required" /></td>
                        </tr><tr>
                            <th>주소4</th>
                            <td><input type="text" class="form-control" name="addr4" required="required" /></td>
                        </tr>
                        <tr>
                            <th>포인트</th>
                            <td><input type="text" class="form-control" name="point" required="required" /></td>
                        </tr>
                        <tr>

                            <td colspan="2" align="center">
                                <input type="submit" class="btn btn-success" value="수정" />
                                <input type="button" class="btn btn-success" value="삭제" onclick="location.href='memberList.html'" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>