<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout2.html}">

<head>
  <meta charset="UTF-8">
  <title> 관리자페이지 </title>

</head>

<body>

<div layout:fragment="admin_content">
  <div class="container" id="box" style="margin-top: 120px; text-align: center">
    <h2>회원관리</h2>

    <div id="result" th:text="${result}"> ajax test </div>


    <div class="row no-gutters" style="margin-bottom: 20px; margin-left: 10px">
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <label for="search-type" hidden>검색 유형</label>
        <select class="form-control" id="search-type" name="searchType">
          <option>회원명</option>
          <option>아이디</option>
          <option>주소</option>
          <option>전화번호</option>
        </select>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 p-0">
        <label for="search-value" hidden>검색어</label>
        <input type="text" placeholder="검색어..." class="form-control" id="search-value"
               name="searchValue">
      </div>
      <div class="col-lg-1 col-md-3 col-sm-12 p-0">
        <button class="btn btn-base" onclick="loadDocArray()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
               viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
               stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
    </div>
    <table class="table table-success table-striped">
      <thead>
      <tr>
        <th scope="col">아이디</th>
        <th scope="col">비밀번호</th>
        <th scope="col">회원명</th>
        <th scope="col">이메일</th>
        <th scope="col">전화번호</th>
        <th scope="col">우편번호</th>
        <th scope="col">주소1</th>
        <th scope="col">주소2</th>
        <th scope="col">주소3</th>
        <th scope="col">주소4</th>
        <th scope="col">포인트</th>
      </tr>
      </thead>
      <tbody id="t_body">
      <tr th:each="list: ${user}">
        <td><a th:href="@{/admin/modify(user_id=${list.user_id})}" th:text="${list.user_id}"></a></td>
        <td th:text="${list.user_pass}">2</td>
        <td th:text="${list.user_name}">3</td>
        <td th:text="${list.user_email}">4</td>
        <td th:text="${list.user_tel}">5</td>
        <td th:text="${list.zip_code}">6</td>
        <td th:text="${list.address1}">7</td>
        <td th:text="${list.address2}">8</td>
        <td th:text="${list.address3}">9</td>
        <td th:text="${list.address4}">0</td>
        <td th:text="${list.user_point}">0</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">이전</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">다음</a></li>
      </ul>
    </nav>
  </div>
</div>
</body>
</html>