<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3.html}">
<head>
  <meta charset="UTF-8">
  <title> 로그인 </title>
  <link rel="stylesheet" href="/css/breakDown.css" type="text/css">
  <script src="/js/join.js"></script>
</head>
<body>
<div layout:fragment="content" style="text-align: left;">

  <div class="container-fluid">

    <div class="col" style="color: black;">
      <p style="font-size: 26px; font-weight: 700; letter-spacing: -2px; color: #0F4229;">내 교환 내역</p>
      <div>

        <div id="greenBox">

          <div class="ticket">
            <div class="ticketHead">
              <div class="row">
                <div class="col-8" id="boarding">
                  Boarding pass CA AIR
                </div>
                <div class="col-2" id="flightNum">

                </div>
                <div class="col-2" id="passengerNum">

                </div>
              </div>
            </div>
            <div class="ticketContent">
              <div class="row">
                <div class="col-4 arrive">
                  출발 도시
                  <span id ="arriveCity">

	        </span>
                  <br>도착 도시
                  <span id ="departCity">

	        </span>
                </div>
                <div class="col-6">
                  <table>
                    <tr style="color: gray; letter-spacing:-1px;">
                      <td>Boarding</td>
                      <td>Price</td>
                      <td>Date</td>
                    </tr>
                    <tr>
                      <td>13:50</td>
                      <td></td>
                      <td>2023-02-24</td>
                    <tr style="color: gray; letter-spacing:-1px;">
                      <td>Passenger</td>
                      <td>Seat</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>B1</td>
                    </tr>
                  </table>
                </div>
                <div class="col-2">
                  <img src="/img/myPage/qr-code.png" id="qr">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
</body>
</html>