<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title> 로그인 </title>
    <link rel="stylesheet" href="/css/modify.css" type="text/css">
</head>
<body>
<div layout:fragment="content">
    <div class="container" id="box1" style="margin-top: 120px; font-family: 'GmarketSansMedium';">
        <div class="row" id="box2" style="height: 850px;">
            <div class="col">

                <div>
                    <h5></h5>

                </div>

            </div>


        </div>
    </div>
</div>
</body>
</html>