@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#text1 > p {
    color: black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
}

#text1 > p:before {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: darkgreen;
    content: "";
}

.boxes {
    width: 100%;
    border: 2px solid gold;
}