@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.products {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
}

#button1 {
    background: #ed2024;
    width: 160px;
    height: 45px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    font-size: 15px;
    font-family: "NanumBarunGothic", sans-serif;
}

#button2 {
    margin-left: 2%;
    background: #e6e6e6;
    border: 1px solid #888;
    width: 160px;
    height: 45px;
    font-weight: 600;
    border-radius: 7px;
    font-size: 15px;
    font-family: "NanumBarunGothic", sans-serif;
}