<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<meta charset="UTF-8">
<link href="/css/post.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        CKEDITOR.replace('editor');
    });
</script>
<body>
<div layout:fragment="content" style="padding-bottom: 50px; padding-top: 120px;">
    <div class="container">
        <div class="post-page">
            <div class="boardPost">
                <p style="font-size: 35px; font-family: 'GmarketSansMedium'; font-weight: bold;">Q&A 등록</p>
                <hr>
            </div>

            <div class="container">
                <form action="/boardPost" method="post">
<!--                    <input type="hidden" name="user_id" th:value="${user.user_id}">-->
                    <div class="row">
                        <strong>제목</strong>
                        <div class="col-sm-11">
                            <input type="text" name="board_title" id="inputTitle"
                                   placeholder="제목을 입력해 주세요." style="width:100%;">
                        </div>
                    </div>

                    <div class="row">
                       <strong>내용</strong>
                        <div class="col-sm-11">
                    <textarea id="editor" name="board_content"
                              placeholder="내용을 입력해 주세요." style="width: 100%;"></textarea>
                        </div>
                    </div>

                    <div class="row" style="float: right; margin-right: 3%;">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-primary me-md-2" role="button" id="undo"
                               style="background: #2a6a47; color: white; font-weight: 700; border: none; width: 70px;" href="/board">취소</a>
                            <input type="submit" value="등록" id="board" class="btn btn-primary me-md-2"
                                   style="background: #2a6a47; color: white; font-weight: 700; border: none; width: 70px;  margin-left: 3%;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>

</html>