<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{layout/layout.html}">-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<body>

<div class="container">
    <form id="commentForm" name="commentForm" method="post">
        <br><br>
        <div>
            <div>
                <span><strong>Comments</strong></span> <span id="cCnt"></span>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <td>
                            <textarea style="width: 1100px" rows="3" cols="30" id="comment" name="comment" placeholder="댓글을 입력하세요"></textarea>
                            <br>
                            <div>
                                <a href='#' onClick="fn_comment('${result.code }')" class="btn pull-right btn-success">등록</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="hidden" id="b_code" name="b_code" value="${result.code }" />
    </form>
</div>
<div class="container">
    <form id="commentListForm" name="commentListForm" method="post">
        <div id="commentList">
        </div>
    </form>
</div>

<div layout:fragment="content" style="padding-bottom: 50px; padding-top: 120px;">
</div>
<script>

     // * 댓글 등록하기(Ajax)

    function fn_comment(code){

        $.ajax({
            type:'POST',
            url : "<c:url value='/boardDetail/addComment'/>",
            data:$("#commentForm").serialize(),
            success : function(data){
                if(data=="success")
                {
                    getCommentList();
                    $("#comment").val("");
                }
            },
            error:function(request,status,error){
                //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }

        });
    }

    /
    //  * 초기 페이지 로딩시 댓글 불러오기

    $(function(){

        getCommentList();

    });



     // * 댓글 불러오기(Ajax)


    function getCommentList(){

        $.ajax({
            type:'GET',
            url : "<c:url value='/board/comment'/>",
            dataType : "json",
            data:$("#commentForm").serialize(),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success : function(data){

                var html = "";
                var cCnt = data.length;

                if(data.length > 0){

                    for(i=0; i<data.length; i++){
                        html += "<div>";
                        html += "<div><table class='table'><h6><strong>"+data[i].writer+"</strong></h6>";
                        html += data[i].comment + "<tr><td></td></tr>";
                        html += "</table></div>";
                        html += "</div>";
                    }

                } else {

                    html += "<div>";
                    html += "<div><table class='table'><h6><strong>등록된 댓글이 없습니다.</strong></h6>";
                    html += "</table></div>";
                    html += "</div>";

                }

                $("#cCnt").html(cCnt);
                $("#commentList").html(html);

            },
            error:function(request,status,error){

            }

        });
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>
</html>