<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<!-- Icon Font Stylesheet -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="/css/style.css" rel="stylesheet">

<header th:fragment="headerFragment" id="header">
    <!-- Navbar Start -->
    <nav th:if="${session.user} == null" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="/img/그린토피아.png" style="height:40px;">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index" class="nav-item nav-link active">홈</a>
                <a href="#" class="nav-item nav-link">소개</a>
                <a href="/notice" class="nav-item nav-link">공지사항</a>
                <a href="/board" class="nav-item nav-link">Q&A</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">마이 페이지</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="/login" class="dropdown-item">로그인</a>
                        <a href="/join" class="dropdown-item">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Navbar Start -->
    <nav th:if="${session.user} != null" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="/img/그린토피아.png" style="height:40px;">
        </a>
        <span id="callName">[[${session.user.userId}]]님 환영합니다</span>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index" class="nav-item nav-link active">홈</a>
                <a href="#" class="nav-item nav-link">소개</a>
                <a href="/notice" class="nav-item nav-link">공지사항</a>
                <a href="/board" class="nav-item nav-link">Q&A</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">마이 페이지</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="/logout" class="dropdown-item">로그아웃</a>
                        <a href="/join" class="dropdown-item">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
</header>
</html>