@charset "UTF-8";

#box1{
    background: #0F4229;
    height: 650px;
}

#box2 {
    background: #263147;
    height: 650px;
}

#box {
    text-align: center;
}

.row {
    align-content: space-around;
}