@charset "UTF-8";

.content_container{
    margin-top: 100px;
    margin-bottom: 260px;
    height: 160vh;
}


.pickup-headerImg {
    width: 100%;
}

.page_main_text{
    width: 200px;
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #89db2f;
}

.checkbox_text {
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
    color: #272785;
}

.checkbox_all {
    display: flex;
}
.permission_checkbox {
    display: flex;
}
#chkbox{
    width: 20px;
}

.permission_text{
    height: 200px;
    border: 1px solid #c1baba;
    overflow: scroll;
    color: black;
    font-size: 13px;
}
.checkbox_text2 {
    color: red;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-weight: 600;
}

.permission_text_num {
    font-size: 23px;
    font-weight: 600;
}

.content_border {
    margin-top: 40px;
    border-bottom: 3px solid #cdc9c9;
}

.content_title{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.page_content_title {
    font-size: 30px;
    color: #272785;
    font-weight: bold;
}

#address_box > input {
    width: 450px;
    height: 40px;
}
#pickup_info {
    color: black;
}

.radio_form {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 17px;
}

#content_header {
    position: absolute;
    left: 350px;
    top: 125px;
}

.content2 {
    margin-top: 25px;
}

#container_one{
    margin-bottom: 10px;
}

#DatePicker {
    background: #fff url(../img/pickup/date_icon.png) no-repeat center right 4px;
    background-size: 27px;
}

.content_memo {
    width: 750px;
    height: 200px;
}

.pickup_submit {
    margin-top: 10px;
    margin-left: 10px;
}

.pickup_submit > a {
    margin-left: 10px;
    width: 130px;
    height: 63px;
    font-size: 30px;
}

.pickup_submit > input {
    width: 130px;
    height: 63px;
    font-size: 26px;
}

.pickup_as {
    color: red;
}

.pickup_circle_sel {
    background: #7460c1;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    position: relative;
}

.pickup_circle_sel:after {
    content: '';
    width: 109px;
    height: 2px;
    background: #d3d3d3;
    position: absolute;
    top: 63px;
    right: -100px;
    z-index: -1;
}

.pickup_circle_none {
    background: #dfdfdf;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    position: relative;
}

#page_main_step2:after {
    content: '';
    width: 109px;
    height: 2px;
    background: #d3d3d3;
    position: absolute;
    top: 63px;
    right: -100px;
    z-index: -1;
}

.pickup_circle_sel > i {
    font-size: 50px;
    color: white;
    margin-top: 35px;
    margin-left: 44px;
}

.pickup_circle_none > i {
    font-size: 50px;
    color: #e9e8e8;
    margin-top: 40px;
    margin-left: 43px;
}


.pickup_circle_font {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 129px;
}

#pickup_step {
    margin-left: 10px;
}

#page_main_step {
    margin-top: 50px;
    margin-bottom: 60px;
}

.pickup_selectImg{
    width: 300px;
    height: 300px;
}

.pickup_washing {
    background: #fff url(../img/pickup/washing-machine.png) no-repeat center;
    background-size: 27px;
}

.pickup_refrigerator {
    background: #fff url(../img/pickup/refrigerator.png) no-repeat center;
    background-size: 27px;
}

.pickup_television {
    background: #fff url(../img/pickup/television.png) no-repeat center;
    background-size: 27px;
}

.pickup_airConditioner {
    background: #fff url(../img/pickup/air-conditioner.png) no-repeat center;
    background-size: 27px;
}

.pickup_computer {
    background: #fff url(../img/pickup/computer.png) no-repeat center;
    background-size: 27px;
}

.pickup_solar {
    background: #fff url(../img/pickup/solar-cell.png) no-repeat center;
    background-size: 27px;
}

.pickup_etc {
    background: #fff url(../img/pickup/oven.png) no-repeat center;
    background-size: 27px;
}