<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<meta charset="UTF-8">
<title> 그린토피아 </title>
<div layout:fragment="content">
    <div id="container">
        <section class="visual">
            <div class="main_wrap">
                <div class="visual_text">
                    <div class="main_image">
                        <img src="/img/main_banner.jpg" alt="메인 배너" width="100%">
                    </div>
                    <div class="main_text">
                        <div class="main_subtitle">필요 없는 가전 수거신청하고 그린 포인트 받자!</div><br/>
                        <div class="main_subtitle2">폐가전제품 무상방문수거 서비스</div><br/>
                        <button class="btn1" type="button" href="#services" style="background-color: darkorange;
    border-color: darkorange;">수거 예약하기
                        </button>
                        <button class="btn2" type="button" href="#services" style="background-color: orange;
    border-color: orange;">예약 조회/변경
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="notice_area">
            <div class="wrap">
                <div class="notice_head">
                    <h2 class="main_title">공지사항</h2>
                </div>
                <ul class="notice_list">
                    <li>
                        <p>
                            <a href="#">공지1</a>
                        </p>
                        <span class="date">2023-03-24</span>
                    </li>
                    <li>
                        <p>
                            <a href="#">공지2</a>
                        </p>
                        <span class="date">2023-03-24</span>
                    </li>
                    <li>
                        <p>
                            <a href="#">공지3</a>
                        </p>
                        <span class="date">2023-03-24</span>
                    </li>
                    <li>
                        <p>
                            <a href="#">공지4</a>
                        </p>
                        <span class="date">2023-03-24</span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="service">
            <div class="wrap">
                <h2 class="main_title">수거 과정</h2>
                <div class="service_panel participation active">
                    <p class="participation_subtitle">수거 이렇게 이루어져요</p>
                    <h3 class="service+title"></h3>
                    <ol class="participation_list">
                        <li><span>01</span>회원가입</li>
                        <li><span>02</span><a href="#" th:alt="화살표">실천항목별 참여설정 <br>&lt;매뉴얼게시판&gt;참고</a></li>
                        <li><span>03</span>녹색생활 <br>실천활동</li>
                        <li><span>04</span>포인트 <br>적립</li>
                        <li><span>05</span>인센티브 <br>수령</li>
                    </ol>
                    <a href="#" class="service_more">신청하러 가기 &nbsp;→</a>
                </div>
            </div>
        </section>
    </div>
</div>
</html>