<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title> 소개 </title>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>
<body>
<div layout:fragment="content" style="margin-top: 112px; padding-bottom: 40px;">

    <div class="container boxes" style="width: 100%; height: 650px; font-family: 'NanumBarunGothic', sans-serif;">

        <div class="row" style="padding-top: 15px; margin-left: 15px;">
            <div class="col-md-4">
                <p style="font-size: 26px; font-family: 'GmarketSansMedium', sans-serif; font-weight: 700; margin-bottom: 0px;">
                    <span style="color: #28a745;">그린</span>으로 만든 유<span style="color: #28a745;">토피아</span>,</p>
                <p style="font-size: 26px; font-family: 'GmarketSansMedium', sans-serif; font-weight: 700;">그린토피아를
                    소개합니다</p>
                <p style="margin-bottom: 0px; font-weight: 700;">그린토피아는 사용하지 않는 전자제품을 무상 방문 수거하여,</p>
                <p style="font-weight: 700;">온실가스를 감축하려는 친환경 플랫폼입니다.</p>
                <div id="boxes1">

                </div>
            </div>
            <div class="col-md-8">
                <div style="margin-top: 13%;">
                    <img src="/img/info/info.png" style="width: 100%;">
                </div>
            </div>
        </div>


    </div>

    <div class="container boxes" style="width: 100%; height: 650px; margin-top: 5%;">

        <div style="padding-top: 15px; margin-left: 15px;">

        </div>

    </div>

</div>

</body>

</html>