<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.green.dao.UserDao">
     <insert id="joinUser">
         insert into user(userId, userPass, userEmail, userPhone, zipCode, address1, address2, address3, address4)
         values(#{userId}, #{userPass}, #{userEmail}, #{userPhone}, #{zipCode}, #{address1}, #{address2}, #{address3}, #{address4})
     </insert>
    
    <select id="">
        
    </select>
</mapper>

